

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
/** MAIN SECTION **/
.allInfo{
    width: 96vw;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom: 1px solid lightgray;
}

.profileImage{
    width: 15vw;
    max-height:100%;
    border-radius: 50%;
    justify-content: space-between;  
}

img{
    max-height: 100%;
    width: 100%;
    border:1px solid lightgray;
    border-radius:50%

}

.studentInfo{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    width: 60vw;
    justify-content: space-between; 
}

.studentInfo span{
    font-size: 2.5rem;
    font-weight: bolder;
}

.viewGrades{
    width: 10vw;
}

.sideInfo{
    padding-left: 1.5rem;
    line-height: 2rem;
}

.searchFields input{
    width:96vw;
    margin:1rem;
    height:2rem;
    border:none;
    border-bottom: 1px solid lightGray;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    padding:1rem;
    outline:none
}


  /** For the tags for each student **/
  .addTag input{
    width:40%;
    height:2rem;
    border:none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    outline:none;
    padding-bottom:0.5rem;
    border-bottom: 1px solid lightGray;
  }

  .listedTags {
    display: inline-block;
  }
  
  .tagValue {
    background-color: lightgray;
    float:left;
    margin: .25rem;
    padding: .25rem; 
  }
  
  li {
    list-style-type: none;
  }


  .toggleGrades {
    color: gray;
    font-size: 300%;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder; 
  }